@use "theme";

@mixin keyframes($name){
    @keyframes #{$name} {
        @content
    }
};

@mixin animate($name, $duration, $method, $time){
    & {
        animation: $name $duration $method $time;
    }
};

@mixin hueshift {
    @include animate(hueshift, infinite, alternate, 1000ms);
    @include keyframes(hueshift){
        0% {
            filter: hue-rotate(0)
        }
    
        100% {
            filter: hue-rotate(90deg)
        }
    };
}

@mixin deepfry-filters($hue, $invert, $hue2){
    filter:
        sepia(100%) 
        saturate(500%) 
        hue-rotate($hue)
        contrast(500%)
        grayscale(100%)
        sepia(100%) 
        saturate(500%) 
        hue-rotate(130deg)
        contrast(500%)
        hue-rotate($hue2);
}

@mixin deepfry {
    @include animate(cycle-deepfry, infinite, linear, 5s);
    @include keyframes(cycle-deepfry){
        0% {
            @include deepfry-filters(1deg, 0%, 0deg);
        }
        
        50%{
            @include deepfry-filters(180deg, 100%, 90deg);
        }
        
        100% {
            @include deepfry-filters(359deg, 1%, 1deg);
        }
    }
}


.hueshift {
    @include hueshift();
}