@use "sass:string";
@use "sass:map";
@use "sass:list";

$constants: (
  "transparent": rgba(0, 0, 0, 0),
);

$base: (
  "dark": ("bg": #000,
    "text": #fff,
    "primary": #62e9d5,
    "secondary": #93abc2,
  ),
  "light": ("bg": #000,
    "text": #fff,
    "primary": #62e9d5,
    "secondary": #93abc2,
  ),
);

$themes: map.merge(map.merge($base, "dark", $constants), "light", $constants);

// https://www.fabrizioduroni.it/blog/post/2020/05/20/dark-mode-css-sass-scss
@mixin themeProperty($theme,
  $property,
  $color,
  $additionalPropertiesPositionIsFront,
  $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: string.unquote($additionalProperties + " " + map.get($theme, $color));
  }

  @else {
    #{$property}: string.unquote(map.get($theme, $color) + " " + $additionalProperties );
  }
}

@mixin theme($property,
  $color,
  $additionalPropertiesPositionIsFront: false,
  $additionalProperties: ""

) {
  $light: map.get($themes, "light");
  $dark: map.get($themes, "dark");

  & {
    @include themeProperty($light,
      $property,
      $color,
      $additionalPropertiesPositionIsFront,
      $additionalProperties );
  }

  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark,
      $property,
      $color,
      $additionalPropertiesPositionIsFront,
      $additionalProperties );
  }
}

@mixin linearGradient($angle, $colors...) {
  $light: map.get($themes, "light");
  $dark: map.get($themes, "dark");

  $stops-light: (
  );
$stops-dark: (
);

@each $color in $colors {
  $stops-light: list.append($stops-light, map.get($light, $color), comma);
  $stops-dark: list.append($stops-dark, map.get($dark, $color), comma);
}

// @debug $stops-light;
// @debug $stops-dark;

& {
  background-image: linear-gradient($angle, $stops-light);
}

@media (prefers-color-scheme: dark) {
  background-image: linear-gradient($angle, $stops-dark);
}
}

@mixin transition($property: all) {
  & {
    transition: $property 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}