{% extends "src/_layouts/default.njk" %}
{% set posts = pagination.items %}
{% block content %}
    {{ super() }}
    <div class="blog__container">
        <div class="blog__post-previews-container">
        {% for post in posts %}
            {% include "blog/post_preview.njk" %}
        {% endfor %}
        </div>
    {% include "pagination.njk" %}
    </div>
{% endblock content %}