{% extends "src/_layouts/default.njk" %}

{# Omit breadcrumb and title on Homepage #}
{% block breadcrumb %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<section class="home__container">
    <div class="home__the-meat-container">
    <img eleventy:ignore class="home__the-meat-base hueshift" src="/assets/img/lambchop_black.svg" />
    <img eleventy:ignore class="home__the-meat-key" src="/assets/img/lambchop_key.svg" alt="Clip art of a lamb chop" />
    <div>
    <h1 class="home__title font-revenge text-center">
    {% for c in "FRIENDMEAT" -%}
        <span class="hueshift">{{c}}</span>
    {%- endfor %}
    </h1>
    {{ content | safe }}
    <h2>Latest Posts</h2>
    {% include "src/_includes/parts/latest_posts.njk" %}
    <h2>Badges</h2>
    {% include "src/_includes/layout/badges.njk" %}
</section>

{% endblock content %}