{% import "macros.njk" as macros with context %}
{% extends "src/_layouts/default.njk" %}
{% block head %}
{{ super() }}
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ meta.site }}{{ headerImage.src }}" />
<meta property="og:image:alt" content="{{ headerImg.alt }}" />
{% endblock %}
{% block content %}
    <div class="blog__post-details">
        <small class="blog__post-details-date">{{ page.date | date("YYYY-MM-DD") }}</small>
    </div>
    {% if headerImage %}
	<figure class="blog__post-details-banner">
        <img src="{{ headerImage.src }}" alt="{{ headerImage.alt }}" />
		</figure>
    {% endif %}
    {{ super() }}
{% endblock content %}
