{% extends "src/_layouts/default.njk" %}
{% block content %}
    {% for key in galleries | keys %}
        {% set gallery = galleries[key] %}
        {% set previewCollection = gallery.collections | first %}
        {% set previewImage = previewCollection.images | selectattr("cover") | first %}
        <a href="/stuff/{{ gallery.title | slugify }}" title="{{gallery.title}}" class="gallery__figure-container stuff__preview-image">
            <figure class="gallery__figure">
                <img alt="{{ previewImage.alt }}" src="{{ previewImage.img }}" class="gallery__figure-image"/>
                <figcaption class="gallery__figure-caption font-revenge">{{ gallery.title }}</figcaption>
            </figure>
        </a>
    {% endfor %}
    <a href="/stuff/ocs/" title="OCs" class="gallery__figure-container stuff__preview-image">
        <figure class="gallery__figure">
        <img src="https://i.postimg.cc/VkVHz75f/bafkreicpwf3nutih2rraccn33oocaoeknaee2nmkshdzww64qrusrnsntq.jpg" src="An anthro dog wearing a torso harness" class="gallery__figure-image"/>
        <figcaption class="gallery__figure-caption font-revenge">OCs</figcaption>
        </figure>
    </a>
{% endblock %}
