<footer class="flex flex-row-reverse justify-between w-full border-t-2 border-zinc-400">
<ul class="m-8 flex flex-row">
    {% for soc in socials %}
    <a href="{{ soc.url }}" target="_blank">
        <li>
            {{ soc.site | capitalize }}
        </li>
    </a>
    {% endfor %}
</ul>
<div class="m-8">
    <p>
        by itsmeat 2024
    </p>
    <p>
        powered by 11ty
    </p>
</div>

</footer>