<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>

  </head>
  <body id="app" class="bg-slate-900 text-zinc-300 w-screen h-full min-h-screen flex flex-col lg:grid lg:grid-rows-1 lg:grid-cols-[8rem_auto]">
    <div id="header-container" class="lg:row-span-2">
      {% include 'app_header' %}
    </div>
    <div id="content" class="lg:mx-auto lg:max-w-120 lg:min-h-full min-h-screen mx-8">
      <div>
        <div class="font-serif">
          <h1 id="title" class="font-bold m-3">{{ title | upcase }}</h1>
          {% block content %}
          {{ content }}
          {% endblock %}
        </div>
      </div>
    </div>
    <div id="footer-container" class="">
      {% include 'app_footer' %}
    </div>
  </body>
</html>