{% extends "default.njk" %}
{% block head %}
<meta property="og:title" content="{{ title | siteTitle }}">
<meta property="og:description" content="{{ description }}">
<title>{{ collection.title | siteTitle }}</title>
{{ super() }}
{% endblock head %}
{% block breadcrumb %}
{% endblock breadcrumb %}
{% block main %}
{{ super() }}
{% for image in data.images %}
<a href="/stuff/{{ collection.gallery | slugify }}/{{ collection.title | slugify }}/{{ image.data.title | slugify }}/">
<figure>
    <img src="{{ image.data.src }}" alt="{{ image.data.alt }}" width="500" height="auto" loading="lazy" decoding="async" />
    <figcaption>{{ image.data.title }}</figcaption>
</figure>
</a>
{% endfor %}
{% endblock main %}
