{% extends "default.njk" %}
{% block head %}
<meta property="og:image" content="">
<meta property="og:title" content="{{ collection.title | siteTitle }}">
<meta property="og:description" content="{{ collection.description }}">
<title>{{ collection.title | siteTitle }}</title>
{{ super() }}
{% endblock head %}
{% block breadcrumb %}
<a href="/stuff">Stuff</a>&nbsp;&#x2B9E;<span aria-current="page">{{ collection.title }}</span>
{% endblock breadcrumb %}
{% block content %}
{{ super() }}
{% for image in collection.images %}
<a href="/stuff/{{ collection.gallery | slugify }}/{{ collection.title | slugify }}/{{ image.data.title | slugify }}/">
<figure>
    <img src="{{ image.data.src }}" alt="{{ image.data.alt }}" width="500" height="auto" loading="lazy" decoding="async" />
    <figcaption>{{ image.data.title }}</figcaption>
</figure>
</a>
{% endfor %}
{% endblock %}
