<header class="header">
    <a class="header__skip-links" href="#main">Skip to main content</a>
	<div class="header__list-container">
    <ul role="navigation" class="header__list">
    <li class="header__list-item"><a href="{{ "/" | url }}">Home</a></li>
    <li class="header__list-item"><a href="{{ "/blog" | url }}">Blog</a></li>
    <li class="header__list-item"><a href="{{ "/stuff" | url }}">Stuff</a></li>
    <li class="header__list-item"><a href="{{ "/about" | url }}">About</a></li>
    </ul>
	</div>
</header>
