<ul>
{% for post in collections.posts %}
<li>
    <a href="post.url">
        <span>{{ post.data.title }}</span>
        &#8208;
        <span>{{ post.date | date("YYYY-MM-DD") }}</span>
    </a>
</li>
{% endfor %}
</ul>