{% extends "default.njk" %}

{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@friendmeat/yt-playlist-element@v0.0.3/dist/main.js" type="module"></script>
<style>
.lightbox-button {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
}

dialog[id^="lightbox"]{
    img {
        max-height: 90lvh;
        margin: 0;
    }

    transition: opacity 200ms, transform 200ms, display 200ms allow-discrete;
    opacity: 0;
    transform: translateY(-5%);


    &:popover-open {
        opacity: 1;
        transform: translateY(0);

        @starting-style {
            opacity: 0;
            transform: translateY(5%);
        }
    }
}

>
.oc-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.oc-image {
    object-fit: cover;
}

.oc-playlist {
    max-width: 400px;

    &::part(yt-playlist-video-list) {
        border: 1px dashed gray;
        max-height: 250px;
    }

    &::part(yt-playlist-item-active){
        border: 1px dashed var(--text);
        background-color: var(--blue);
    }
}
</style>
{% endblock head %}

{% block breadcrumb %}
<a href="/stuff">Stuff</a>&nbsp;~><a href="/stuff/ocs/">OCs</a>&nbsp;~><span aria-current="page">{{ name }}</span>
{% endblock breadcrumb %}

{% block content %}
<h2>{{ name }}</h2>
<div class="oc-images">
    {% for img in collections.ocImages[name] %}
    <dialog id="lightbox-{{ loop.index }}" closedby="any" popover>
        <figure>
        <img src="{{ img.data.src }}" alt="{{ img.data.alt }}" loading="lazy" decoding="async" />
        <figcaption><a href="{{ img.url }}">{{ img.data.title }}</a></figcaption>
        </figure>
    </dialog>
    <button class="lightbox-button" popovertarget="lightbox-{{ loop.index }}">
        <img src="{{ img.data.src }}" alt="{{ img.data.alt }}" width=250 height=250 class="oc-image" />
    </button>
    {% endfor %}
</div>
{{ content | safe }}
{% if playlist -%}
<h3>Playlist</h3>
<yt-playlist class="oc-playlist" data-yt-playlist='{{ playlist | dump | safe }}' />
{%- endif %}
{% endblock content %}

