<div class="pagination">
    {% if pagination.href.previous %}
    <div class="pagination__previous-container">
        <a href="{{ pagination.href.previous }}" class="pagination__previous">&#8701; Previous</a>
    </div>
    {% endif %}
    {% if pagination.href.next %}
    <div class="pagination__next-container">
        <a href="{{ pagination.href.next }}" class="blog__pagination-next">Next &#8702;</a>
    </div>
    {% endif %}
</div>