{% layout "default" %}
{% block content %}
  <small>{{ date | date: "%Y-%m-%d" }}</small>
  <hr/>
  <div class="post-content max-w-120">
    {% if img %}
      <div class="w-full my-3">
        <img src="{{ img }}" class="h-80 mx-auto py-4">
      </div>
      <hr/>
    {% endif %}
    {{ content }}
  </div>
{% endblock %}