<ul class="stuff__links">
    <li class="stuff__link-item"><a href="{{ '/stuff/projects/' | url }}">Projects</a></li>
    <li class="stuff__link-item">
        <a href="{{ '/stuff/art/' | url }}">
        <img src="{{ '/assets/img/j_choke.jpg' }}" alt="icon" class="stuff__link-item-icon" />
        My Art
        </a>
        </li>
    <li class="stuff__link-item">
        <a href="{{ '/stuff/commissions/' | url }}">
        <img src="{{ '/assets/img/joldfish-jamie-lined-flat.png'}}" alt="icon" class="stuff__link-item-icon" />Commissions
        </a>
    </li>
</ul>