<ul>
{% for post in collections.posts | reverse | takeThree %}
<li>
    <a href="{{ post.url }}">
        <small class="font-roboto-thin">{{ post.date | date("YYYY-MM-DD") }}</small>
        -
        <span>{{ post.data.title }}</span>
    </a>
</li>
{% endfor %}
</ul>