---
pagination:
    data: galleries.galleries[0].image
    size: 1
    alias: image
permalink: "/stuff/gallery/{{ image.alt | slugify }}"
---
<span><a href="/stuff/gallery">Back to gallery</a></span>
<div class="flex justify-center">
    <img src="{{ image.src }}" alt="{{ image.alt }}"/>
</div>
<div class="flex justify-between">
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous}}">Back</a>{% endif %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next}}">Next</a>{% endif %}
</div>