---
pagination:
    data: galleries.galleries[0].image
    size: 1
    alias: image
permalink: "/stuff/gallery/{{ image.alt | slugify }}/index.html"
layout: layouts/image
---
<a href="/stuff/gallery/" class="interactive group flex justify-center items-center max-w-max">
    {% icon "heroicons:chevron-left", class="group-hover:fill-text transition-all ease-in" %}
    <span>Back to gallery</span>
</a>