---
pagination:
    data: galleries.galleries[0].image
    size: 1
    alias: image
permalink: "/stuff/gallery/{{ image.alt | slugify }}/index.html"
---
<a href="/stuff/gallery/" class="interactive group flex justify-center items-center max-w-max">
    {% icon "heroicons:chevron-left", class="group-hover:fill-slate-900 transition-all ease-in" %}
    <span>Back to gallery</span>
</a>
<div class="flex p-4 justify-center">
    <img src="{{ image.src }}" alt="{{ image.alt }}"/>
</div>
<div class="w-full">
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous}}" class="interactive">Back</a>{% endif %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next}}" class="interactive text-right">Next</a>{% endif %}
</div>