<section class="blog__post-preview">
    <div class="blog__post-preview-details">
        <small class="blog__post-preview-date">{{ post.date | date("YYYY-MM-DD") }}</small>
        <div class="blog__post-preview-tags">
            {% for topic in post.data.topics %}
                <a href="{{ '/blog/tag/' + topic + '/' | url }}" class="blog__post-preview-tag">#{{ topic }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="blog__post-preview-link">
        <div class="blog__post-preview-content">
            <div class="blog__post-preview-title-container">
                <a href="{{ post.url | url }}">
                    <h2 class="blog__post-preview-title">{{ post.data.title }}</h2>
                {% if post.data.headerImage %}
                    <div class="blog__post-preview-banner-container">
                        <img 200 class="blog__post-preview-banner" src="{{ post.data.headerImage.img }}" alt="{{ post.data.headerImage.alt }}"/>
                    </div>
                {% endif %}
                </a>
            </div>
            <div class="blog__post-preview-body-container font-roboto-thin">
                {% if post.data.description %}
                <div class="blog__post-preview-excerpt">{{ post.data.description | safe }}</div>
            {% endif %}
            </div>
        </div>
    </div>
</section>