{% extends "src/_layouts/base.njk" %}
{% block head %}
{{ super() }}
<title>{{ title | siteTitle }}</title>
<meta property="og:title" content="{{ title | siteTitle }}" />
<meta property="og:url" content="{{ meta.base }}{{ page.url }}" />
{% endblock %}
{% block main %}
<article class="main__article">
    {% block title %}
    <h1 class="main__article-title font-revenge">{{ title }}</h1>
    {% endblock title %}
    <div class="main__article-body">
        {% block content %}
        {{ content | safe }}
        {% endblock content %}
    </div>
</article>
{% endblock main %}
