{% extends "src/_layouts/base.njk" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="error__body">
    <div class="error__body-message">
        {{ content | safe }}
    </div>
</div>
<div class="error__background"></div>
{% endblock %}
{% block scripts %}
<script src="{{ '/assets/js/error-background-scroll.js' | url }}"></script>
{% endblock %}