<footer class="flex flex-row-reverse justify-between w-full border-t-2 border-zinc-400">
  <ul class="m-8 flex flex-row">
    {% for soc in socials %}
      <a
        href="{{ soc.url }}"
        target="_blank"
        class="self-center  hover:bg-zinc-300 group transition-all ease-in">
        <li class="p-2">
          {% icon soc.site '{"class":"w-4 group-hover:fill-slate-900 transition-all ease-in"}' %}
        </li>
      </a>
    {% endfor %}
  </ul>
  <div class="m-8">
    <p>
      friendmeat 2024
    </p>
    <p>
      powered by <a target="_blank" href="https://11ty.dev">11ty</a>
    </p>
  </div>
</footer>