{% assign navigation = collections.all | eleventyNavigation %}
<header class="w-full lg:w-32 lg:h-full">
  <ul class="flex lg:flex-col lg:border-r-2 lg:border-b-0 lg:h-full flex-row border-b-2 border-zinc-400">
    {% for nav in navigation %}
      {% if nav.url == page.url %}
        <a href="{{ nav.url }}" class="p-4 transition-all ease-in group bg-accent hover:bg-text hover:text-background">
        {% else %}
        <a href="{{ nav.url }}" class="p-4 transition-all ease-in group hover:bg-text hover:text-background">
      {% endif %}
          <li>{{ nav.title }}</li>
        </a>
    {% endfor %}
  </ul>
</header>