<ul class="w-72 grid grid-cols-2 my-3 gap-1" id="about-links">
{% for soc in socials %}
<li id="about-{{soc.site}}" class="social-link group" title="{{soc.site}}">
    <a target="_blank" href="{{soc.url}}" class="flex transition-all ease-in group-hover:bg-zinc-400 group-hover:text-slate-900">
    <span class="p-2">{% icon soc.site '{"class":"group-hover:fill-slate-900 transition-all ease-in"}'%}</span>
    <span class="underline">{{soc.handle}}</span>
    </a>
</li>
{% endfor %}
</ul>