<ul class="w-72 grid grid-cols-2 my-3 gap-1" id="about-links">
{% for soc in socials %}
<li id="about-{{soc.site}}" class="social-link group" title="{{soc.site}}">
    <a target="_blank" href="{{soc.url}}" class="flex group-hover:bg-accent transition-all">
    <span class="p-2">{% icon soc.site '{"class":"group-hover:bg-accent transition-all"}'%}</span>
    <span class="underline">{{soc.handle}}</span>
    </a>
</li>
{% endfor %}
</ul>