@use "../../../node_modules/scss-reset/total";
@use "./scss/theme";
@use "./scss/media";
@use "./scss/size";
@use "./scss/animation";
@use "./scss/typography";

@use "./scss/components/header";
@use "./scss/components/footer";
@use "./scss/components/home";
@use "./scss/components/breadcrumb";
@use "./scss/components/callout";
@use "./scss/components/repos";
@use "./scss/components/stuff";
@use "./scss/components/error";
@use "./scss/components/blog";
@use "./scss/components/pagination";
@use "./scss/components/gallery";
@use "./scss/components/stuff/stuff_links"; 

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100lvh;
  height: 100%;
  display: grid;
  @include media.mobile {
    grid-template-columns: 1fr;
    grid-template-rows: size.$xl size.$lg 1fr size.$xl;
  }
  @include media.desktop {
    grid-template-columns: 7em 1fr;
    grid-template-rows: size.$lg 2fr;
  }
  @include theme.theme("color", "text");
  @include theme.theme("background-color", "bg");
}

*:focus {
  outline-style: solid;
  outline-width: 1px;
  @include theme.theme("outline-color", "text");
}

.main {
  height: 100%;
  @include media.mobile {}
  @include media.desktop {
    grid-column: 2;
    width: 100%;
  }
  // flex-grow: 1;
  // flex-basis: 100%;
  // margin: 0 size.$md;
}

.main__article {
  margin: 0 auto;
  max-width: media.$breakpoint-md;
}

.main__article-title {
  font-size: size.$lg;
  font-weight: 700;
  margin: size.$sm;
}

.main__article-body {
  margin: size.$md;
}

.main__article-body p {
  margin: size.$md 0;
}

.main__article-body p a {
  padding: 0 size.$xs;
  border-radius: size.$xs;
  box-shadow: 0 1px 0px;
  position: relative;
  top: 0;
  @include theme.transition;
  @include theme.theme("border", "gray-200", true, "1px solid");
  &:hover,
  &:focus {
    top: 1px;
    box-shadow: 0 0 0;
    @include theme.theme("border", "bg", true, "1px solid");
    @include theme.theme("color", "bg");
    @include theme.theme("background-color", "primary");
    @include animation.hueshift;
  }
}

iframe {
  width: 100%;
  height: 263px;
}


//
// Lists
//
.main__article-body {

  ul,
  ol {
    display: block;
    margin: 0 size.$lg;
  }

  ul {
    list-style: disc !important;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
  }

  //
  // Blocks
  //

  blockquote {
    margin: size.$sm size.$lg;
    padding: size.$sm 0;
    @include theme.theme("background-color", "gray-100");

    & p {
      margin: size.$sm size.$lg;
      text-align: justify;
    }
  }

  >blockquote {
    position: relative;

    // border-radius: size.$xs;
    &::before {
      content: "\201C";
      z-index: -1;
      font-size: size.$xxxl;
      opacity: 30%;
      position: absolute;
      left: calc(size.$sm * -1);
      top: -25px;
    }
  }

  pre {
    font-family: monospace;
    // white-space: pre;
    border-radius: size.$xs;
    @include theme.theme("background-color", "gray");
  }

  //
  // Headers
  //

  h1 {
    font-size: size.$xl;
    font-weight: 700;
  }

  h2 {
    font-size: size.$lg;
    font-weight: 700;
  }

  h3 {
    font-size: size.$md;
    font-weight: 700;
  }

  h4 {
    font-size: size.$sm;
    font-weight: 700;
  }

  //
  // Typography
  //

  em {
    font-style: italic;
  }
}

///
/// Asterism
/// 

.asterism {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: size.$md;
  margin: size.$md 0;
}