@use "../../../node_modules/scss-reset/total";
@use "./scss/theme";
@use "./scss/media";
@use "./scss/size";
@use "./scss/animation";
@use "./scss/typography";

@use "./scss/components/header";
@use "./scss/components/footer";
@use "./scss/components/home";
@use "./scss/components/breadcrumb";
@use "./scss/components/badges.scss";
@use "./scss/components/callout";
@use "./scss/components/repos";
@use "./scss/components/stuff";
@use "./scss/components/error";
@use "./scss/components/blog";
@use "./scss/components/pagination";
@use "./scss/components/gallery";
@use "./scss/components/stuff/stuff_links";
@use "./scss/components/about";

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100lvh;
  height: 100%;
  display: grid;

  @include media.mobile {
    grid-template-columns: 1fr;
    grid-template-rows: size.$xl size.$lg 1fr size.$xl;
  }

  @include media.desktop {
    grid-template-columns: 7em 1fr;
    grid-template-rows: size.$lg 2fr;
  }

  @include theme.theme("color", "text");
  @include theme.theme("background-color", "bg");
}

*:focus {
  outline-style: solid;
  outline-width: 1px;
  @include theme.theme("outline-color", "text");
}

.main {
  height: 100%;

  @include media.mobile {}

  @include media.desktop {
    grid-column: 2;
    width: 100%;
  }
}

.main__article {
  margin: 0 auto;
  max-width: media.$breakpoint-md;
}

.main__article-title {
  font-size: size.$lg;
  font-weight: 700;
  margin: size.$sm;
}

.main__article-body {
  margin: size.$md;
}

.main__article-body p {
  margin: size.$md 0;
}

.main__article-body p>a {
  padding: 0 size.$xs;
  border-radius: size.$xs;
  box-shadow: 0 1px 0px;
  position: relative;
  top: 0;
  @include theme.transition;
  @include theme.theme("border", "gray-200", true, "1px solid");

  &:hover,
  &:focus {
    top: 1px;
    box-shadow: 0 0 0;
    @include theme.theme("border", "bg", true, "1px solid");
    @include theme.theme("color", "bg");
    @include theme.theme("background-color", "primary");
    @include animation.hueshift;
  }
}

iframe {
  width: 100%;
  height: 263px;
}


// 
// Article Body
// 

.main__article-body {

  //
  // Lists
  //
  ul,
  ol {
    display: block;
    margin: 0 size.$lg;
  }

  ul {
    list-style: disc !important;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
  }

  //
  // Blocks
  //

  blockquote {
    position: relative;
    margin: size.$lg;
    @include theme.theme("background-color", "gray-100");

    & p {
      text-align: justify;
    }
  }

  blockquote {
    &::before {
      content: "\201C";
      z-index: -1;
      font-size: size.$xxxl;
      opacity: 30%;
      position: absolute;
      left: calc(size.$sm * -1);
      top: -25px;
    }
  }

  pre {
    font-family: monospace;
    // white-space: pre;
    border-radius: size.$xs;
    @include theme.theme("background-color", "gray");
  }

  //
  // Headers
  //

  h1 {
    font-size: size.$xl;
    font-weight: 700;
  }

  h2 {
    font-size: size.$lg;
    font-weight: 700;
    @include theme.theme("color", "primary");
  }

  h3 {
    font-size: calc(size.$md + 0.5rem);
    font-weight: 200;
    @include theme.theme("color", "secondary");
  }

  h4 {
    font-size: size.$sm;
    font-weight: 700;
  }

  //
  // Paragraph
  // 

  p {
    @include typography.font("Georgia");
  }

  details {
    border-radius: 5px;
    padding: 1rem;
    @include theme.theme("border", "text", true, "1px solid");

    >summary {
      cursor: pointer;
      display: block;
    }

    >summary::before {
      padding-right:0.5rem;
      content: "▶";
    }

    &:open summary {
      margin-bottom: 0.5rem;
      &::before{
        content: "▼";
      }
    }
  }

  //
  // Typography
  //

  em {
    font-style: italic;
  }

  sup {
    vertical-align: super;
    @include theme.theme("color", "primary");
  }
}

///
/// Asterism
/// 

.asterism {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: size.$md;
  margin: size.$md 0;
}

.rss_button {
  height: size.$md;
  border-radius: 5px;
  padding: 5px;
  @include theme.theme("background-color", "primary");
  @include theme.theme("color", "bg");
}
