{% set navPages = collections.all | eleventyNavigationBreadcrumb(title, { includeSelf: true, allowMissing: true }) %}
<ul class="breadcrumb__container">
    {%- for entry in navPages -%}
        <li>
            {% if entry.url == page.url %}
                <span class="breadcrumb__entry active">{{ entry.title }}</span>
            {% else %}
                <a href="{{ entry.url }}" class="breadcrumb__entry">{{ entry.title }}</a>
            {% endif %}
        </li>
        {% if not loop.last %}
            &gt;
        {% endif %}
    {%- endfor -%}
</ul>