@use "../size";
@use "../media";
@use "../theme";

.error__body {
  position: relative;
  flex-basis: 100%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & h1 {
    font-size: 150pt;
    font-weight: 700;
    font-style: italic;
    position: relative;

    @include media.mobile {
      font-size: 40vw;
    }
  }
}

.error__body-message {
  position: relative;
  margin: auto;
  text-align: center;
}

.error__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  filter: blur(5px) brightness(50%) contrast(900%);
  background-size: 100px 70px;
  background-repeat: repeat;
  // background-position: 100%;
  // background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjwh%0ALS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoK%0APHN2ZwogICB3aWR0aD0iMTAzbW0iCiAgIGhlaWdodD0iNDQuOTI1NTMzbW0iCiAgIHZpZXdCb3g9%0AIjAgMCAxMDMgNDQuOTI1NTMzIgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmcxIgogICB4bWxu%0AczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIK%0AICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3Nv%0AZGlwb2RpLTAuZHRkIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHht%0AbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxzb2RpcG9kaTpuYW1lZHZp%0AZXcKICAgICBpZD0ibmFtZWR2aWV3MSIKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgYm9y%0AZGVyY29sb3I9IiMwMDAwMDAiCiAgICAgYm9yZGVyb3BhY2l0eT0iMC4yNSIKICAgICBpbmtzY2Fw%0AZTpzaG93cGFnZXNoYWRvdz0iMiIKICAgICBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMC4wIgogICAg%0AIGlua3NjYXBlOnBhZ2VjaGVja2VyYm9hcmQ9IjAiCiAgICAgaW5rc2NhcGU6ZGVza2NvbG9yPSIj%0AZDFkMWQxIgogICAgIGlua3NjYXBlOmRvY3VtZW50LXVuaXRzPSJtbSIgLz4KICA8ZGVmcwogICAg%0AIGlkPSJkZWZzMSI%2BCiAgICA8cmVjdAogICAgICAgeD0iMCIKICAgICAgIHk9Ii0xLjkwMzM1OTIi%0ACiAgICAgICB3aWR0aD0iNzk1LjYwNDEzIgogICAgICAgaGVpZ2h0PSIzOTMuOTk1MzYiCiAgICAg%0AICBpZD0icmVjdDEiIC8%2BCiAgPC9kZWZzPgogIDxnCiAgICAgaW5rc2NhcGU6bGFiZWw9IkxheWVy%0AIDEiCiAgICAgaW5rc2NhcGU6Z3JvdXBtb2RlPSJsYXllciIKICAgICBpZD0ibGF5ZXIxIj4KICAg%0AIDx0ZXh0CiAgICAgICB4bWw6c3BhY2U9InByZXNlcnZlIgogICAgICAgdHJhbnNmb3JtPSJtYXRy%0AaXgoMC4yNjQ1ODMzMywwLDAsMC4yNjQ1ODMzMywtNTQuNjMzNjU3LC03LjkzNTcwODcpIgogICAg%0AICAgaWQ9InRleHQxIgogICAgICAgc3R5bGU9ImZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFu%0AdDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7Zm9udC1zaXpl%0AOjIxMy4zMzNweDtsaW5lLWhlaWdodDpub3JtYWw7Zm9udC1mYW1pbHk6QXJpYWw7LWlua3NjYXBl%0ALWZvbnQtc3BlY2lmaWNhdGlvbjpBcmlhbDt0ZXh0LWFsaWduOmNlbnRlcjt0ZXh0LWRlY29yYXRp%0Ab24tY29sb3I6IzAwMDAwMDt3aGl0ZS1zcGFjZTpwcmU7c2hhcGUtaW5zaWRlOnVybCgjcmVjdDEp%0AO2ZpbGw6IzAwMDAwMDstaW5rc2NhcGUtc3Ryb2tlOm5vbmUiPjx0c3BhbgogICAgICAgICB4PSIy%0AMTkuODMzMjkiCiAgICAgICAgIHk9IjE5MC4yNTYzNCIKICAgICAgICAgaWQ9InRzcGFuMyI%2BPHRz%0AcGFuCiAgICAgICAgICAgc3R5bGU9ImZvbnQtc3R5bGU6aXRhbGljO2ZvbnQtd2VpZ2h0OmJvbGQ7%0ALWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonQXJpYWwgQm9sZCBJdGFsaWMnIgogICAgICAg%0AICAgIGlkPSJ0c3BhbjIiPjQwNDwvdHNwYW4%2BPC90c3Bhbj48L3RleHQ%2BCiAgPC9nPgo8L3N2Zz4K%0A");
  background-image: url("/assets/img/404.svg");

  @include theme.transition;
  @include theme.dark {
    // background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjwh%0ALS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoK%0APHN2ZwogICB3aWR0aD0iMTAzbW0iCiAgIGhlaWdodD0iNDQuOTI1NTMzbW0iCiAgIHZpZXdCb3g9%0AIjAgMCAxMDMgNDQuOTI1NTMzIgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmcxIgogICBzb2Rp%0AcG9kaTpkb2NuYW1lPSI0MDQuc3ZnIgogICBpbmtzY2FwZTpleHBvcnQtZmlsZW5hbWU9IjQwNHdo%0AaXRlLnN2ZyIKICAgaW5rc2NhcGU6ZXhwb3J0LXhkcGk9Ijk2IgogICBpbmtzY2FwZTpleHBvcnQt%0AeWRwaT0iOTYiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1l%0Ac3BhY2VzL2lua3NjYXBlIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJj%0AZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9y%0AZy8yMDAwL3N2ZyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI%2BCiAg%0APHNvZGlwb2RpOm5hbWVkdmlldwogICAgIGlkPSJuYW1lZHZpZXcxIgogICAgIHBhZ2Vjb2xvcj0i%0AI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzAwMDAwMCIKICAgICBib3JkZXJvcGFjaXR5PSIw%0ALjI1IgogICAgIGlua3NjYXBlOnNob3dwYWdlc2hhZG93PSIyIgogICAgIGlua3NjYXBlOnBhZ2Vv%0AcGFjaXR5PSIwLjAiCiAgICAgaW5rc2NhcGU6cGFnZWNoZWNrZXJib2FyZD0iMCIKICAgICBpbmtz%0AY2FwZTpkZXNrY29sb3I9IiNkMWQxZDEiCiAgICAgaW5rc2NhcGU6ZG9jdW1lbnQtdW5pdHM9Im1t%0AIiAvPgogIDxkZWZzCiAgICAgaWQ9ImRlZnMxIj4KICAgIDxyZWN0CiAgICAgICB4PSIwIgogICAg%0AICAgeT0iLTEuOTAzMzU5MiIKICAgICAgIHdpZHRoPSI3OTUuNjA0MTMiCiAgICAgICBoZWlnaHQ9%0AIjM5My45OTUzNiIKICAgICAgIGlkPSJyZWN0MSIgLz4KICA8L2RlZnM%2BCiAgPGcKICAgICBpbmtz%0AY2FwZTpsYWJlbD0iTGF5ZXIgMSIKICAgICBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIgogICAg%0AIGlkPSJsYXllcjEiPgogICAgPHRleHQKICAgICAgIHhtbDpzcGFjZT0icHJlc2VydmUiCiAgICAg%0AICB0cmFuc2Zvcm09Im1hdHJpeCgwLjI2NDU4MzMzLDAsMCwwLjI2NDU4MzMzLC01NC42MzM2NTcs%0ALTcuOTM1NzA4NykiCiAgICAgICBpZD0idGV4dDEiCiAgICAgICBzdHlsZT0iZm9udC1zdHlsZTpu%0Ab3JtYWw7Zm9udC12YXJpYW50Om5vcm1hbDtmb250LXdlaWdodDpub3JtYWw7Zm9udC1zdHJldGNo%0AOm5vcm1hbDtmb250LXNpemU6MjEzLjMzM3B4O2xpbmUtaGVpZ2h0Om5vcm1hbDtmb250LWZhbWls%0AeTpBcmlhbDstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOkFyaWFsO3RleHQtYWxpZ246Y2Vu%0AdGVyO3RleHQtZGVjb3JhdGlvbi1jb2xvcjojMDAwMDAwO3doaXRlLXNwYWNlOnByZTtzaGFwZS1p%0AbnNpZGU6dXJsKCNyZWN0MSk7ZmlsbDojMDAwMDAwOy1pbmtzY2FwZS1zdHJva2U6bm9uZSI%2BPHRz%0AcGFuCiAgICAgICAgIHg9IjIxOS44MzMyOSIKICAgICAgICAgeT0iMTkwLjI1NjM0IgogICAgICAg%0AICBpZD0idHNwYW4yIj48dHNwYW4KICAgICAgICAgICBzdHlsZT0iZm9udC1zdHlsZTppdGFsaWM7%0AZm9udC13ZWlnaHQ6Ym9sZDstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOidBcmlhbCBCb2xk%0AIEl0YWxpYyc7ZmlsbDojZmZmZmZmIgogICAgICAgICAgIGlkPSJ0c3BhbjEiPjQwNDwvdHNwYW4%2B%0APC90c3Bhbj48L3RleHQ%2BCiAgPC9nPgo8L3N2Zz4K%0A");
    background-image: url("/assets/img/404white.svg");
  }
}