@use "../size";
@use "../theme";

.footer {
    padding: size.$sm;
}

.footer__list {
    display: flex;
    justify-content: flex-end;
}
.footer__site-attribute {
    position: relative;
    &::before {
        content: url("/assets/img/copyleft.svg");
        position: absolute;
        height: 1em;
        width: 1em;
        left: -1.5em;
        @include theme.dark {
            filter: invert(100%)
        }
    }
}