@use "../media";
@use "../size";
@use "../theme";

.footer {
    padding: size.$sm;
    @include media.desktop {
        grid-column: span 1 / 3;
        grid-row: 3;
    }
    @include media.mobile {}
}

.footer__list {
    display: flex;
    justify-content: space-between
}

.footer__badges {
}

.footer__site-attribute {
    position: relative;
    &::before {
        content: url("/assets/img/copyleft.svg");
        position: absolute;
        height: 1em;
        width: 1em;
        left: -1.5em;
        @include theme.dark {
            filter: invert(100%);
        }
    }
}
