@use "../theme";
@use "../size";
@use "../media";
@use "../typography";

$img-height: 500px;

@mixin deepfry($blur, $contrast) {
    filter: blur($blur) grayscale(100%) sepia(100%) contrast($contrast) saturate(500%) hue-rotate(260deg);
}

@mixin back-arrow {
    ::before {
        content: "\21fd";
        position: absolute;
        left: calc(size.$md * -1);
    }
}

.gallery__back-to-stuff {
    margin: 1rem;
        ::before {
            content: "\21fd";
            left: calc(size.$md * -1);
        }
    // @include back-arrow();
}

.gallery__container {
    margin: size.$md;

    @include media.mobile {
        display: flex;
        flex-direction: column;
    }

    @include media.desktop {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.gallery__figure-container {
    overflow: hidden;
    aspect-ratio: 1;
    position: relative;

    
    @include media.desktop {
        & .gallery__figure-caption {
            display: none;
            font-size: 300%;
        }
        & .gallery__figure-image {
            @include deepfry(3px, 500%);
            @include theme.transition;
        }

        &:hover,
        &:focus,
        &:focus-within {
            .gallery__figure-image {
                @include deepfry(0px, 200%)
            }

            .gallery__figure-caption {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                mix-blend-mode: exclusion;
            }
        }
    }
}


.gallery__figure-caption {
    @include media.mobile {}
}

.gallery__figure {
    position: relative;
    height: 100%;

}

.gallery__figure-image {
    height: $img-height;
    width: 100%;
    object-fit: cover;

    @include media.desktop {
        top: -50%;
    }
}


.image__back-to-gallery {
    position: relative;
    ::before {
        content: "\21fd";
        position: absolute;
        left: calc(size.$md * -1);
    }
}

.image__artist {
    text-decoration: dashed underline;
}

.image__cc0 {
    margin: size.$lg 0;
}