@use "../theme";
@use "../size";
@use "../media";

$img-height: 500px;

.gallery__container {
    margin: size.$md auto;
    max-width: 1000px;

    @include media.desktop {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.gallery__figure-container {
    overflow: hidden;
    aspect-ratio: 1;
}

.gallery__figure {
    position: relative;
    height: 100%;
}

.gallery__figure-image {
    @include media.desktop {
        height: $img-height;
        object-fit: cover;
        // object-position: center calc(($img-height / 2) * -1);
    }
}

.gallery__figure-caption {
    display: none;
    @include theme.linearGradient(-45deg, "bg", "transparent");
    @include media.desktop {
        top: 0;
        text-align: right;
        position: absolute;
        width: 100%;
        height: 100%;
        // display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: size.$sm;
        @include theme.transition;
    }

    @include media.mobile {}
}

.image__artist {
    text-decoration: dashed underline;
}