@use "../theme";
@use "../animation";
@use "../size";

.stuff__link-container {
    margin: 0 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: size.$sm;
}

.stuff__button {
    list-style: none !important;
    padding: size.$sm;
    border-radius: size.$sm;
    text-align: center;
    @include theme.theme("border", "text", true, "1px dashed");
    @include theme.theme("background-color", "bg");
    @include theme.transition;

    &:hover {
        @include theme.theme("color", "bg");
        @include theme.theme("background-color", "primary");
        @include theme.theme("border-color", "bg");
        @include animation.hueshift;
    }
}

.stuff__preview-image {
    display: block;
    height: 250px;
    width: 100%;
    overflow: hidden;
}