{% extends "src/_layouts/default.njk" %}
{% block main %}
    <small class="gallery__back-to-stuff">
        <a href="/stuff/{{ collection.gallery | slugify }}">Back to {{ collection.gallery }}</a>
    </small>
    {{ super() }}
{% endblock main %}
{% block content %}
    {% for image in collection.images %}
        <figure>
            <img alt="{{ image.alt }}" src="{{ image.img }}"/>
            <figcaption>{{ image.description }}</figcaption>
        </figure>
    {% endfor %}
{% endblock content %}