<a href="{{img.alt | slugify }}">
  <div class="gallery-item flex justify-center m-2 p-2 aspect-square w-56 border border-text group cursor-pointer hover:bg-accent transition-all">
    <img class="object-none object-center w-full group" src="{{img.src}}">
  </div>
</a>