<div class="gallery-item flex justify-center m-2 p-2 aspect-square w-56 border border-zinc-400 group cursor-pointer hover:bg-zinc-400 transition-all">
    <img class="object-none object-center w-full group" src="{{img.img}}">
</div>