<div id="shadowbox" class="pointer-events-none fixed opacity-0 transition-all top-0 left-0 bg-[rgba(0,0,0,50%)] w-screen h-screen">
    <div class="fixed top-0 right-1">{% icon  %}</div>
    <div class="flex justify-center items-center w-full h-full">
        {% comment %} <div>Prev</div> {% endcomment %}
        <img class="object-contain object-center">
        {% comment %} <div>Next</div> {% endcomment %}
    </div>
</div>