---
pagination:
    data: galleries.galleries[1].image
    size: 1
    alias: image
permalink: "/stuff/comms/{{ image.alt | slugify }}/index.html"
layout: layouts/image
---
<a href="/stuff/comms/" class="interactive group flex justify-center items-center max-w-max">
    {% icon "heroicons:chevron-left", class="group-hover:fill-slate-900 transition-all ease-in" %}
    <span>Back to commissions</span>
</a>