---
permalink: /moodboard/jamie/index.html
layout: null
---
{% block head %}
<style>
    body {
        background-color: black;
        color: white;
    }

    .grid-container {
        display: grid;
        grid-template-rows: repeat(5rem, 3);
    }

    .heading-1 {
        font-size: 10rem;
        mix-blend-mode: exclusion;
        position: absolute;
        top: 0;
        line-height: 11rem;
    }

    .jamie-img-container {
        width: 500px;
        overflow: hidden;
    }

    .jamie-img {
        transform: translateX(-50%);
    }

    .chladni-figures-container {
        float: right;
        width: 100%;
    }

    .chladni-figures {
        position: absolute;
        right: 0;
    }

    .highlight {
        background-color: orange;
    }
</style>
{% endblock %}
{% block main %}
<div class="grid-container">
    <div class="jamie-img-container">
        <img class="jamie-img"
        src="https://i.postimg.cc/5xyZDzj9/bafkreieedjpuhpt6ei53d2ewh7lf6j5jzpzsyh34xiejnboiuq52adfkd4.jpg" />
    </div>
    <div class="chladni-figures-container">
        <img class="chladni-figures" src="https://i.postimg.cc/33DXfV3W/35835910874-1b7b4201e7-o.png" />
    </div>
    <p class="heading-1">Bro, what would you do if you came home one day and I was just on the ground with a shotgun in my mouth and my skull all over the wall Haha, woah man low key.I'd definitely make it look like you were assassinated</p>
</div>
{% endblock main %}