---
permalink: "/game/raccoons/index.html"
layout: ""
---
<script src="https://cdn.jsdelivr.net/gh/golang/go@master/lib/wasm/wasm_exec.js"></script>
 <script>
const go = new Go();
fetch("/assets/wasm/raccoons.wasm")
	.then(resp=>resp.arrayBuffer())
	.then(buf=>WebAssembly.instantiate(buf, go.importObject))
	.then(obj=>{
		go.run(obj.instance);
	});
</script>
