---
layout: photo-gallery
eleventyExcludeFromCollections: true
pagination:
  data: collections["galleries"]["my-art"]
  size: 1
  alias: collection
permalink: "/stuff/my-art/{{ collection | slugify }}/"
eleventyNavigation:
  key: My Art
---
