---
layout: default
collection: my-art
eleventyExcludeFromCollections: true
permalink: /stuff/my-art/
eleventyNavigation:
  key: "My Art"
  parent: Stuff
  order: 1
---
{% block breadcrumb %}
<a href="/stuff/">Stuff</a>&nbsp;~><span aria-current="page">My Art</span>
{% endblock breadcrumb %}
{% block content %}
{% set groups = collections["my-art"] | groupby("data.collection") %}
<ul>
{% for collection, _ in groups | dictsort %}
<li style="list-style:none;">
    {% set cover = collections.allCovers[collection] %}
  <a href="{{ collection | slugify }}">
  <figure class="collection-preview">
  {% if cover.sensitive %}
  <img eleventy:ignore src="{{ cover.src | censor }}" alt="{{ cover.alt }}" width="600" height="300" />
  {% else %}
    <img src="{{ cover.src  }}" alt="{{ cover.alt }}" width=600 height=300 />
  {% endif %}
    <figcaption>{{ collection }}</figcaption>
  </figure>
  </a>
</li>
{% endfor %}
</ul>
{% endblock %}
